button {
  border: none;
  width: 6rem;
  height: 2rem;
}

.about-section__buttons-blue{
  background-color: $blue;
  color: $white;
}

.about-section__buttons-red{
  background-color: $red;
  color: $white;
}
