.nav__logo {
  font-size: $xxx-large;
  font-family: $source-sans;
  }

.about-section__name{
  font-size: $xx-large;
  color: $smoky-black;
  font-family: $source-sans;
  font-weight: $source-bold;
  }

.about-section__text{
  font-size: $medium;
  color: $granite-gray;
  font-family: $source-sans;
  }

.main__title{
  font-size: $xx-large;
  color: $smoky-black;
  font-family: $source-sans;
  font-weight: $source-bold;
  }

.main__title-card{
  font-size: $x-large;
  color: $smoky-black;
  font-family: $source-sans;
  font-weight: $source-bold;
  }

.card-text{
  color: $granite-gray;
  font-family: $source-sans;
  font-weight: $source-regular;
  }

button{
  font-family: $source-sans;
  font-weight: $source-regular;
  font-size: $medium;
  }
