// Colores

$white: #FFF;
$light-gray: #D1D1D1;
$granite-gray: #646266;
$smoky-black: #0C0910;
$blue: #5dbcd2;
$red: #ee655b;

// Font size
$xxx-large: 40px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Font family
$source-sans: 'Source Sans Pro', sans-serif;

// peso de fuente
$source-bold: 700;
$source-semi-bold: 600;
$source-regular: 400;
